* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    #ec4899 0%,
    #8b5cf6 100%,
    rgba(255, 255, 255, 0) 100%
  ); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 100px;
  background-color: #fff; /* roundness of the scroll thumb */
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  height: auto;
  /* background-color: #000000; */
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
